[Desktop Entry]
Type=Application
Name=Pi Presents
Exec=python /home/pi/github/pipresents-next/pipresents.py -p livephoto -f --gpio --home /home/pi
Terminal=false
StartupNotify=false
